<html>
<head><title>Get users from Vimeo</title>
<body>
    <form action="{% url get_users %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="page_num" value="{{ page_num }}" />
        <p>The current day and time is {{current_time|date:"DATETIME_FORMAT"}}.</p>
        <h4>Total users till now: {{ total_num_users }}</h4>
        <button type="submit" value="0" name="sub">Get it</button>
        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Is Paid User</th>
                    <th>Has Atleast One Video In Staff Pick?</th>
                    <th>Has Atleast On Video</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td><a href="{{ user.url }}">{{ user.name }}</a></td>
                    <td><a href="{{ user.url }}">{{ user.url }}</a></td>
                    <td>{{ user.is_paying_user }}</td>
                    <td>{{ user.has_video_in_staff_pick }}</td>
                    <td>{{ user.has_atleast_one_video }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No records.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" value="0" name="sub">Get it</button>
    </form>
</body>
</html>
